body,html{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 0.95em;
    text-align: center;
}
#chart{
    background-color: #F5F2EB;
    border: 1px solid #CCC;
}

.bar-label{
    fill: black;
    text-anchor: middle;
    font-size: 18px;

}
.axis path,
.axis line{
    fill: none;
    stroke: blue;
    shape-rendering: crispEdges;
}
.gridline path,
.gridline line{
    fill: none;
    stroke: blue;
    shape-rendering: crispEdges;
}

.controls
{
    margin-top: 20px
}

.controls button
{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.controls button:hover
{
    background: #3cb0fd;
    text-decoration: none;
}